#baner{
    height: 370px;
    color: white;
    text-align: center;
}
#meczyk{
    color: white;
    text-align: center;
    width: 200px;
    margin: 20px;
    border:1px solid black;
    border-radius: 10px;
    float: left;
}
#meczyk:hover{
    border-color: white;
}
#glowny{
    background-color: whitesmoke;
    height: 50px;
    clear: both;
}
#lewy{
    background-color: whitesmoke;
    height: 230px;
    width: 70%;
    float:left;
}
#prawy{
    background-color: whitesmoke;
    height: 230px;
    width: 30%;
    text-align: right;
    float: left;
}
body{
    font-family: Tahoma;
    background-color: crimson;

}
h2{
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}

/*https://pastebin.com/Bud0n52C